<div class="mb-5">
  <div class="book-header d-flex flex-column align-items-center gap-4 my-3">
    <div
      class="img d-block overflow-hidden flex-shrink-0 rounded"
      style="background: #ebebeb; height: 140px; width: 110px"
    >
      <img [src]="book().fotoCapaUrl" [alt]="alt()" width="110" class="rounded" />
    </div>
    <div
      class="book-info d-flex flex-column justify-content-center align-items-center"
      style="width: 225px"
    >
      <div class="d-block w-100 text-truncate text-center">{{ book().nomeObra }}</div>

      <p>
        <span class="d-block">Pego em {{ book().dataEmprestimo | date: 'dd/MM/yy' }}</span>
        <span class="d-block"
          ><strong>Devolver: {{ book().dataDevolucaoPrevista | date: 'dd/MM/yy' }}</strong></span
        >
      </p>
    </div>
    <div class="actions d-flex gap-3 flex-wrap">
      <button
        appBlurOnClick
        class="btn btn-secondary"
        (click)="renewLoan()"
        [disabled]="5 - book().quantidadeRenovacoes <= 0"
      >
        renovar ({{ 5 - book().quantidadeRenovacoes }})
      </button>
      <button appBlurOnClick (click)="returnBorrowedBook()" class="btn btn-primary">
        devolver
      </button>
    </div>
  </div>
</div>
