<div class="modal-header">
  <h5 class="modal-title fw-bold">Cadastrar Novo Livro</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body">
  <form [formGroup]="bookForm">
    <div class="input-line">
      <app-input
        label="Nome da Obra:"
        placeholder="Digite o nome do livro"
        id="nomeObra"
        type="text"
        formControlName="nomeObra"
      />
    </div>

    <div class="input-line">
      <app-input
        label="Autor:"
        placeholder="Nome do autor"
        id="autor"
        type="text"
        formControlName="autor"
      />
    </div>

    <div class="input-line">
      <app-input
        label="Editora:"
        placeholder="Nome da editora"
        id="editora"
        type="text"
        formControlName="editora"
      />
    </div>

    <div class="input-line">
      <app-input
        label="Volume:"
        placeholder="Ex: Vol. 1"
        id="volume"
        type="text"
        formControlName="volume"
      />
    </div>

    <div class="input-line">
      <app-input
        label="Descrição:"
        placeholder="Breve resumo da obra"
        id="descricao"
        type="text"
        formControlName="descricao"
      />
    </div>

    <div class="input-line">
      <app-input
        label="Quantidade:"
        type="number"
        placeholder="0"
        id="quantidade"
        type="text"
        formControlName="quantidade"
      />
    </div>

    <div class="input-line">
      <app-input
        label="URL da Foto de Capa:"
        type="url"
        placeholder="https://..."
        id="fotoCapaUrl"
        type="text"
        formControlName="fotoCapaUrl"
      />
    </div>

    <!-- <div formArrayName="categoriasIds">
      <label class="fw-semibold d-block mb-2">IDs das Categorias:</label>
       @for (categoria of categorias.controls; track $index) {
        <div class="input-line mb-2">
          <app-input label="ID Categoria: id="categoriasIds" type="text"" formControlName="categoriasIds" />
        </div>
      }
    </div> -->
  </form>
</div>

<div class="modal-footer d-flex align-items-center justify-content-between gap-4">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancelar</button>
  <button type="button" class="btn btn-success" (click)="activeModal.close('Livro salvo!')">
    Cadastrar
  </button>
</div>
