:host {
  .btn {
    letter-spacing: 0.05em;
    transition: all 0.2s ease-in-out;
    font-size: 0.9rem !important;
  }

  .btn-solicitar {
    background-color: var(--bg-btn-borrow) !important;
    border: 1.5px solid var(--bg-btn-borrow);

    &:hover {
      filter: brightness(0.9);
      box-shadow: 0 4px 10px rgba(113, 76, 245, 0.25) !important;
    }

    &:active {
      filter: brightness(0.8);
    }
  }
}
