<div class="card h-100 shadow-sm border-0 rounded-3 request-card">
  <div
    class="card-header border-0 bg-light py-2 px-3 d-flex justify-content-between align-soli()s-center"
  >
    <div class="text-truncate">
      <h6 class="m-0 fw-bold text-dark text-truncate" [title]="soli().nomeObra">
        {{ soli().nomeObra }}
      </h6>
      <small class="text-muted font-monospace" style="font-size: 0.75rem">
        Pedido em: {{ soli().dataPedido | date: 'dd/MM/yyyy HH:mm' }}
      </small>
    </div>
  </div>

  <div class="card-body py-3 px-3 bg-white d-flex flex-column justify-content-between">
    <div class="mb-3">
      <div class="d-flex align-soli()s-center gap-2 mb-2">
        <i class="bi bi-person text-secondary"></i>
        <span class="text-body fw-semibold small text-truncate">
          {{ soli().nomeLeitor }}
        </span>
      </div>
    </div>

    <div class="btns d-flex flex-row-reverse">
      <button
        type="button"
        class="btn btn-borrow-action btn-primary rounded-3 fw-semibold fs-6 text-uppercase"
        (click)="handleApprove()"
      >
        <i class="bi bi-check2-circle me-1"></i> Aceitar
      </button>
    </div>
  </div>
</div>
