:root {
  --red: #ac0a1d;
  --white: #fff;
  --dark-gray: #49454f;
  --light-gray: #d9d9d9;
  --yellow: #ffd359;
  --dark-yellow: #e9b833;

  --bg-header: var(--red);
  --bg-nav: #ac0a1d;
  --bg-footer: linear-gradient(0deg, #ac0a1d 0%, #b40d21 100%);
  --bg-footer: #ac0a1d;

  --bg-btn-add: #5cb85c;
  --bg-btn-edit: #3C7ACA;
  --bg-btn-send: #F5F04C;
  --bg-btn-delete: #F66E7E;

  --bg-input: #ebebeb9a;
  --input-link: #300913;
  --input-link-active: #50142c;

  --bg-button-primary: #099638;
  --bg-button-primary-hover: #0f7832;

  --bg-button-secondary: #F0F0F0;
  --color-button-secondary: #999999;
  --bg-button-secondary-hover: #e0dede;

  --bg-button-disable: #BEBEBE;
}
