.bookInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.bookCover {
  width: 280px;
  height: 340px;
  background: #cecece;
}

.bookNameTitle {
  margin: 0.8rem 0;
}

.description {
  text-align: justify;
}

.status {
  display: inline-block;
  padding: 2px 7px;
  border-radius: 1rem;
}

.unavalible {
  background-color: #ffc107;
}

.avalible {
  background-color: #4caf50;
}

.borrowButton {
  display: inline-block;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 1.8rem;
  border-right: .7rem solid #ac0a1d;
  border-bottom: .7rem solid #ac0a1d;
  background-color: #db162f;
  color: white;
  transition: font-size 0.3s ease, background-color 0.3s ease, box-shadow 0.2s ease;
}

.borrowButton:hover {
  background-color: #ac0a1d;
  font-size: 1.3rem;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
