<div>
  <label [for]="inputId">{{ label }}</label>
  <input
    [type]="type"
    [id]="inputId"
    [placeholder]="placeholder"
    [formControl]="control"
    autocomplete="true"
    [required]="isRequired"
  />

  @if (control.invalid && control.touched) {
    <div>
      @for (error of getErrorKeys(); track error) {
        <small>{{ getErrorMessage(error) }}</small>
      }
    </div>
  }
  @if (underLink.length > 0) {
    <button type="button" (click)="onUnderLink()">{{ underLink }}</button>
  }
</div>
