button {
  background-color: var(--bg-button-enable);
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.primary {
  background-color: var(--bg-button-primary);

  &:hover {
    background-color: var(--bg-button-primary-hover);
  }
}

.secondary {
  background-color: var(--bg-button-secondary);

  &:hover {
    background-color: var(--bg-button-secondary-hover);
  }
}

.tertiary {
  background-color: transparent;
  color: var(--color-button-tertiary);

  &:hover {
    color: var(--color-button-tertiary-hover);
  }
}

.button-disabled{
  color: var(--color-button-secondary);
  background-color: var(--bg-button-disable);
  cursor: not-allowed;
  pointer-events: none;
}

:host-context(.buttons-container) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  button {
    width: 100%;
  }
}
