:host {
  display: block;
  padding-top: 2rem;

  article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    section article {
      gap: 1rem;
    }
    section:nth-of-type(even) article {
      flex-direction: row-reverse;
    }
  }

  .text {
    width: 100%;
    max-width: 330px;
  }

  .link {
    display: block;
    width: fit-content;

    padding: 0.7rem 1.5rem;
    margin: auto;
    margin-bottom: 1rem;

    color: var(--white);
    background: var(--yellow);

    border-radius: 1rem;
    border-right: 6px solid var(--dark-yellow);
    border-bottom: 6px solid var(--dark-yellow);
    transition: all 0.1s ease-in-out;

    -webkit-tap-highlight-color: transparent;

    cursor: pointer;
    text-decoration: none;
  }

  .link:active {
    background: var(--dark-yellow);

    border-right-width: 2px;
    border-bottom-width: 2px;

    transform: translate(4px, 4px);
  }

  @media (hover: hover) {
    .link:hover {
      background: var(--dark-yellow);
    }
  }

  .image {
    width: 310px;
    height: 100%;
    min-height: 233px;
    background-color: var(--light-gray);
  }

  .strong {
    color: var(--red);
  }

  .separator {
    p {
      margin: 1rem -0.9rem;
    }

    &::before {
      content: '...';
      display: block;
    }

    &::after {
      content: '...';
      display: block;
    }
  }
}
