<div class="container">
  <div class="options">
    <i class="bi bi-circle"></i>
    <span>Label</span>
    <i class="bi bi-caret-right-fill"></i>
  </div>
  <div class="options">
    <i class="bi bi-circle"></i>
    <span>Label</span>
    <i class="bi bi-caret-right-fill"></i>
  </div>
  <div class="options">
    <i class="bi bi-circle"></i>
    <span>Label</span>
    <i class="bi bi-caret-right-fill"></i>
  </div>
  <div class="options">
    <i class="bi bi-circle"></i>
    <span>Label</span>
    <i class="bi bi-caret-right-fill"></i>
  </div>
  <div class="options">
    <i class="bi bi-circle"></i>
    <span>Label</span>
    <i class="bi bi-caret-right-fill"></i>
  </div>
  <div class="options">
    <i class="bi bi-circle"></i>
    <span>Label</span>
    <i class="bi bi-caret-right-fill"></i>
  </div>
  <div class="options">
    <i class="bi bi-circle"></i>
    <span>Label</span>
    <i class="bi bi-caret-right-fill"></i>
  </div>
</div>
