<div class="book-header d-flex gap-2">
  <div class="img">
    <img
      src="https://res.cloudinary.com/dwxfti3gp/image/upload/v1746059997/15_dias_de_oracao_com_axb1eh.webp"
      [alt]="alt()"
      width="110"
      class="rounded"
    />
    <!-- <img [src]="book().fotoCapaUrl" [alt]="alt()" /> -->
  </div>
  <div class="book-info">
    <p>
      <strong>{{ book().nomeObra }}</strong>
      <span>, por {{ book().autor }}</span>
    </p>
    <p class="fs-6">
      @if (book().volume) {
        {{ book().volume }}
      } @else {
        Volume único.
      }
    </p>
    <p class="d-flex align-items-center gap-2">
      <span
        [ngClass]="{
          disponibility: true,
          avalible: isAvalible,
        }"
      ></span>
      <span>{{ book().quantidade > 0 ? 'disponível' : 'emprestado' }}</span>
    </p>
  </div>
</div>
<div class="book-description">
  <p class="mt-3"><strong>Descrição: </strong>{{ book().descricao }}</p>
</div>
