.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.1rem;
  width: 100%;
  margin-bottom: .7rem;
}

.section:nth-of-type(even) {
  flex-direction: row-reverse;
}

.section > article,
.section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .7rem;
  width: 100%;
  min-width: 310px;
  max-width: 350px;
  height: fit-content;
  max-height: 262.5px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section {
    flex-wrap: nowrap;
    gap: 3rem;
  }
}

