* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  max-width: 500px;
  margin: auto;
  padding: 30px 20px;
}

main .text-center {
  text-align: center;
}

main .swiper {
  width: 100%;
  height: 100%;
}

main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main strong {
  color: #db162f;
}

form {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

div.form-area {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #ffd359;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

main input[type="submit"] {
  background-color: #ffd359;
  color: white;
  border: none;
  padding: 7px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s, transform 0.2s;
}

input[type="submit"]:hover {
  background-color: #ddb033;
  transform: scale(1.05);
}

input[type="submit"]:active {
  background-color: #ddb033;
  transform: scale(0.98);
}

input[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

ul.catalog {
  width: 100%;
  list-style-type: none;
}

ul.catalog li {
  text-align: left;
}

ul.catalog li:nth-child(even) {
  margin-top: 0.5rem;
  background: #eee;
}

ul.catalog .book p {
  margin: 0.8rem 0;
}

ul.catalog .book .line {
  display: inline-block;
  width: 100%;
}

ul.catalog .book .line .avalible {
  background: #5aca3c;
  padding: 0.1px 3px;
  border-radius: .5rem;
}

ul.catalog .book .line .borrowed {
  background: #f66e7e;
  padding: 0.1px 3px;
  border-radius: .5rem;
}

ul.catalog .book-header {
  display: flex;
  gap: 0.7rem;
}

ul.catalog .book-cover {
  flex-shrink: 0;
  width: 110px;
  height: 130px;
  background: #f5f5f5;
  border: none;
  border-radius: 5px;
}

ul.catalog .book-header .collection {
  font-size: 0.9rem;
  font-style: italic;
}

ul.catalog .desc p {
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

ul.catalog .hidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

ul.catalog .shown {
  max-height: 1000px;
  opacity: 1;
}

.actions {
  display: flex;
  align-items: center;
  gap: .7rem;
}

.adm-buttons button,
.adm-buttons button#create img {
  width: 25px;
  height: 25px;
  margin: 0.5rem 0.25rem;
  border: none;
  border-radius: 3px;
}

.adm-buttons button:first-child {
  margin-left: 0;
}

.adm-buttons button#create img {
  margin: 0 0.25rem 0 0;
  background: #5aca3c;
}

.adm-buttons button.edit {
  background: #3c7aca;
}

.adm-buttons button.borrow {
  background: #f5f04c;
}

.adm-buttons button.delete {
  background: #f66e7e;
}

.add-book, 
.adm-buttons button#create {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: -1.2rem; /* suprir o gap entre a div com 0 de height e a ul*/
}

.adm-buttons button#create {
  background: transparent;
  margin-bottom: 0.5rem;
}