<div class="modal-header">
  <h5 class="modal-title">Cadastrar Livro</h5>
  <button
    type="button"
    class="btn-close"
    (click)="activeModal.dismiss()"
    aria-label="close"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <app-input
      inputId="nome"
      placeholder="Um nome curto..."
      formControlName="nome"
      label="Nome da categoria"
      type="text"
    />
    <div class="form-check mt-4">
      <input
        class="form-check-input"
        type="checkbox"
        id="markOnSave"
        formControlName="markOnSave"
      />
      <label class="form-check-label" for="markOnSave"> Selecionar categoria ao salvar </label>
    </div>
  </form>
</div>

<div class="modal-footer d-flex align-items-center justify-content-between gap-4">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancelar</button>
  <button type="button" class="btn btn-success" (click)="saveCategory()">Cadastrar</button>
</div>
