* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  // border: 1px solid black; // for debug only
}

#toast-container * {
  color: #fff !important;
}

html {
  min-height: 100%;

  &.menu-backdrop {
    overflow: hidden;

    button {
      z-index: -1;
    }
  }
}

body {
  min-height: 100%;
  background: var(--color-background);
}

main {
  width: 100%;
  margin: auto;

  h1,
  h2,
  h3 {
    font-weight: bolder;
  }
}

.sub-modal {
  margin: auto;
  width: calc(100% - 3rem);
  max-width: 430px;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 17px;
  max-width: 500px;
  min-width: 320px;
}
